.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

# for slide rendering
archive/
*_cache/
*_files/
slides.html
img/images.pptx
_extensions/



# dummy files created
df.*
data/dummy_df.*
big_df.*
